
.idea

**/.terraform.lock.hcl/*
**/.terragrunt-cache/*
env/dev_01/.terraform.lock.hcl
env/dev_01/.terragrunt-cache

env/stage_01/jenkins/.terragrunt-cache/
env/stage_01/jenkins/.terraform.lock.hcl

env/stage_01/infrastructure/.terraform.lock.hcl
env/stage_01/infrastructure/.terragrunt-cache/

env/prod_01/.terraform.lock.hcl
env/prod_01/.terragrunt-cache/